.horloge{
    background-color: black;
    color: white;
    height: auto;
    width: 230px;
    padding-left: 1px;
    border: 7px solid rgb(214, 207, 207);
    border-radius: 5px;
    text-align: center;
}
.h1{
    text-transform: uppercase;
}
.jour{
    font-size: 40px;
}
.heure{
    font-size: 40px;
}
.periode{
    font-size: 20px;
}
.date{
    font-size: 20px;
    word-spacing: 10px;
}
.titre{
    font-size: 15px;
}

.modifier{
    background-color: black;
    color: white;
    border: 7px solid rgb(214, 207, 207);
    border-radius: 5px;
    text-align: center;
    height: auto;
    width: 230px;
    padding-bottom: 3px;
}
input{
    text-align: center;
}
